<div class="container">

  <div class="card-trip">
    <%= cl_image_tag @office.photo %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @office.name %></h2>
        <p><%= @office.description %></p>
      </div>
      <h2 class="card-trip-pricing">€15</h2>
      <%= image_tag @office.user.avatar, class: "card-trip-user avatar-bordered" %>
    </div>
  </div>


</div>



