.accept {
  color: $green;
  font-size: 3.5vh;
}

.reject {
  color: $red;
  font-size: 3.5vh;
}

.add {
  color: $green;
  font-size: 3.5vh;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: rgba(17, 191, 152, 0.08);
    border-radius: 5px;
}
