// Specific CSS for your home-page
#banner-container {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), asset-url('banner-pic.jpg');
  height: 92vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom 1px right 0px;
}

.banner-text {
  padding: 30vh 2vh;
  color: white;
}
.sign-in-image {

  .myform-outline {
    background-color: #F4F4F4;
    margin-bottom: 30px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px;
  }
}

.card-minimal-text {
  height: 66px;
}

.rating {
  position: absolute;
  color: $green;
  bottom: 0px;
  left: 348px;
  font-size: 18px;
}

.delete {
  position: absolute;
  color: $green;
  top: 10px;
  right: 10px;
  font-size: 3vh;
}


.edit {
  color: $green;
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 3vh;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: rgba(17, 191, 152, 0.08);
}

.banner-text h1 {
  font-size: 5vh;
  line-height: 7vh;
}

.banner-text h3 {
  font-size: 3vh;
  line-height: 5vh;
  font-weight: lighter;
}
