// Specific CSS for your home-page
#banner-container {
  background-image: url(banner-pic.jpg);
  height: 91vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom 1px right 0px;
}

.banner-text {
  padding: 1px 1px;
}
.sign-in-image {

  .myform-outline {
    background-color: #F4F4F4;
    margin-bottom: 30px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px;
  }
}
