// Specific CSS for your home-page
#banner-container {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), asset-url('banner-pic.jpg');
  height: 681px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom 1px right 0px;
}

.banner-text {
  padding: 432px 6px;
  color: white;
  font-weight: bold;
}
.sign-in-image {

  .myform-outline {
    background-color: #F4F4F4;
    margin-bottom: 30px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px;
  }
}

.card-minimal-text {
  height: 66px;
}

.rating {
  position: absolute;
  color: $green;
  bottom: -9px;
  left: 343px;
}

.delete {
  position: absolute;
  color: $green;
  top: 10px;
  right: 10px;
}


.edit {
  color: $green;
}

.nav-link {
  font-size: 12px;
  font-weight: bold;
}
