// Import page-specific CSS files here.
@import "home";
@import "booking_show";
@import "review_new";
@import "dashboard_index";

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;

}
