.new-form-content {
  margin: 20px 50px;
}

.form-control {
  border-radius: 10px;
}

.schedule-choice {
  padding: 10px;
  border-radius: 10px;

}

.form-group {
  margin-bottom: 10px;
  font-size: 17px;
}

.new-features {
  margin-top: 20px;
}

