 <%= simple_form_for ([office, booking]) do |b| %>
  <%= b.input :start_date, label: "Dates", as: :string,  input_html: {id: "start_date"} %>
  <%= b.input :number_of_people %>
  <div align="center"><%= b.submit "Reserve", class:"btn-ghost" %>
  </div>
<% end %>
