.card-minimal {
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(17, 191, 152, 0.2);
  margin-top: 15px;
}

.card-minimal > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-minimal h2 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
}

.card-minimal p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
  font-family: "Helvetica"
}


.card-minimal .card-minimal-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: 90px;
}

.card-minimal-infos .card-minimal-user {
  position: absolute;
  right: -1px;
  top: -30px;
  width: 54px;
}

.card-landing a {
  color: black !important;
}
