.card-trip {
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(189, 195, 199, 1);
  margin-top: 15px;
}

.card-trip > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-weight: bold;
  margin-left: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  font-family: "Roboto", sans-serif;
}

.card-trip p {
  opacity: .7;
  margin: 0;
  font-family: "Helvetica"
}


.card-trip .card-trip-infos {
  padding: 16px;
  position: relative;
  height: 100px;

  i {
    padding-left: 10px;
    color: $green;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 60px;
}

.card-trip-pricing {
  font-size: 20px;

}


