<div class="container">
  <div class="form-content mt-5">
    <%= simple_form_for [@booking, @review] do |b| %>
    <%= b.input :content, as: :text %>
    <%= b.input :rating, collection: 0..5 %>
    <div align="center"><%= b.submit "Submit now" %>
    </div>
  </div>
  <% end %>
</div>
